<!DOCTYPE html>
<html>
  <head>
    <title>LAW</title>
    <link rel="stylesheet" href="https://kit.fontawesome.com/eab4031eed.css" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/eab4031eed.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>
<style>
  .main-wrapper {
    height: 100%;  
  }
</style>
<body style=" background-image: url('/static/top-view-career-guidance-items-judges.jpg'); height:90vh; background-size: cover;">
  <div class="main-wrapper h-100 ">
    <nav class="navbar"  style="background-color: #5C391F; height:7vh;">
    </nav>
    <div style="height:80%;">
      <div class="row d-flex justify-content-center" style="padding-top:30vh; width:100%">
        <div class="d-flex justify-content-center">
          <p class="fs-1">
              มาตรากฎหมาย
          </p>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a class="btn btn-outline-success" type="button" href="{{ url_for('messeges.index') }}">Go to website</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>